

#password {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
}

#pw-button {
    background-color: #ffffff;
    border-color: #cbcbcb;
}

#pw-button:hover {
    color: black;
}